.left {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  box-shadow: -10px 2px 6px 10px rgba(0, 0, 0, 0.4);
}
.left textarea {
  font-family: "Consolas";
  background: #F5F5F5;
  overflow: auto;
  resize: none;
  border: none;
  padding: 30px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.left textarea:focus {
  outline: none;
}

.right {
  position: fixed;
  top: 0;
  right: 0;
  left: 50%;
  bottom: 0;
  overflow: auto;
  padding: 30px;
}