* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

/* body{
   background: url("concer\ bg.jpg") no-repeat center center/cover;
} */
#navbar {
    display: flex;
    font-size: 1.4rem;
    padding: 10px 3px;
    color: snow;
    font-family: cursive;
    position: sticky;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}

#div2 {
    margin: 0px 100px;

}

#div2 li a {
    text-decoration: none;
    padding: 2px 30px;
    border-radius: 10px;
    color: snow;
}

#div2 ul {
    display: flex;

    list-style: none;
    margin: 0px 34px;
}

#div2 a:hover {
    background-color: white;
    color: black;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 10px 466px;
    color: snow;
    font-size: 1.8rem;
    font-family: cursive;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 36px;
    height: 400px;
}

#about::before {
    content: "";
    background: url("concer\ bg.jpg") no-repeat center center/cover;
    height: 481px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

.services::before {
    content: "";
    background: url("bg2.webp") no-repeat center center/cover;
    /* background-color: rgb(43, 43, 80); */

    height: 1000px;
    position: absolute;
    top: 481px;
    left: 0px;
    width: 100%;
    opacity: 0.9;
    z-index: -1;
}

.services {
    /* background-image: linear-gradient(rgb(65, 65, 194) rgb(49, 45, 45)); */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.boxs {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 350px;
    margin: 36px 0px;
}

.box {
    border: 4px solid snow;
    border-radius: 12px;
    box-shadow: 6px 6px 2px black;

    width: 30%;
    margin: 4px 30px;
    /* height: fit-content; */
}

#box2 {
    background: url("img\ 2.jpg") no-repeat center center/cover;

}

#box3 {
    background: url("img3.jpg") no-repeat center center/cover;

}

#serv {
    font-size: 1.9rem;
    color: snow;
    font-family: cursive;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 10px;
    text-decoration: underline;
    font-weight: bold;
}

#box1,
#box4 {
    background-image: linear-gradient(black, gray);
    color: snow;
    padding: 4px 15px;
    text-align: center;
    font-family: cursive;
    font-size: 1.4rem;
}

.heads {
    font-size: 1.6rem;
    color: snow;
    font-family: cursive;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 5px;
}

#register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 7, 4);
    padding: 10px 15px;
}

form p {
    padding: 4px 15px;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-family: cursive;
    font-size: 1.1rem;
}

form input {
    padding: 5px 15px;
    border-radius: 4px;
}

#btn {
    margin: 8px 0px;
    padding: 8px;
    border-radius: 4px;
}

footer {
    /* border: 4px solid black; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 8vh;
    justify-content: center;
    background-color: gray;
    /* border-radius: 8px; */

}

#f {
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: cursive;
}

#div3{
   font-size: 0.75rem;;
}