/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #5372f0;
}

.wrapper{
    width: 605px;
    background-color: #fff;
    padding: 30px 30px 25px;
    border-radius: 15px;
}

.wrapper header{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.wrapper .content{
    margin: 35px 0;
}

.content .quote-area{
    display: flex;
    justify-content: center;
}

.quote-area i{
    font-size: 15px;
}

.quote-area i:first-child{
    margin: 3px 10px 0 0;
}

.quote-area i:last-child{
    display: flex;
    align-items: flex-end;
    margin: 0 0 3px 10px;
}

.quote-area .quote{
    font-size: 22px;
    text-align: center;
    word-break: break-all;
}

.content .author{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    font-size: 18px;
    font-style: italic;
}

.author span:first-child{
    margin: -7px 5px 0 0 ;
    font-family: monospace;
}

.wrapper .buttons{
    border-top: 1px solid #ccc;
}

.buttons .features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.features ul{
    display: flex;
}

.features ul li{
    list-style-type: none;
    margin: 0 5px;
    height: 47px;
    width: 47px;
    display: flex;
    color: #5372f0;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #5372f0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.features ul li:hover{
    color: #fff;
    background: #5372f0;
}

.features button{
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 13px 22px;
    border-radius: 30px;
    background: #5372f0;
}

button.loading{
    opacity: 0.7;
    pointer-events: none;
}