.section15 {
  margin-top: 12rem;
}

.container15__h1 {
  text-transform: capitalize;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;

  text-align: center;
  letter-spacing: 0.05em;

  color: #6adabc;
}

.container15__p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-top: -2rem;
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;
}
.container15__img {
  width: 382px;
  height: 132px;
  text-align: center;
  margin: 4rem auto 0 auto;
  cursor: pointer;
}
