*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    overflow: hidden;
    position: relative;
}

.yourName {
    position: absolute;
    background-color: transparent;
    top: 150px;
    left: 20%;
    border-radius: 3px;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    font-size: 22px;
    width: 45%;
    height: 5%;
    padding: 20px 20px;
}

.yourName:focus {
    outline: none;
}

.btn {
    padding: 12px 19px;
    position: absolute;
    top: 147px;
    left: 67%;
    background-color: transparent;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px; 
    cursor: pointer;
}

.btn:focus {
    outline: none;
}
.btn:hover {
    color: black;
    background-color: whitesmoke;
}

.container {
    width: 100%;
    height: 100vh;
    background: #111;
}

svg {
    font-size: 150px;
    padding-top: 11%;
}

.copy {
    fill: none;
    stroke: #fff;
    stroke-width: 3px;
    stroke-dasharray: 8% 30%;
    stroke-dashoffset: 0%;
    animation: textanimation 6s linear infinite;
}

@keyframes textanimation {
    100% {
        stroke-dashoffset: -35%;
    }
}

.copy1 {
    stroke: #673ab7;
    animation-delay: -1s;
}

.copy2 {
    stroke: #e91e63;
    animation-delay: -2s;
}

.copy3 {
    stroke: #ff5722;
    animation-delay: -3s;
}

.copy4 {
    stroke: #f44336;
    animation-delay: -4s;
}

.copy5 {
    stroke: #ffc107;
    animation-delay: -5s;
}

@media (max-width: 1100px){
    svg {
        font-size: 150px;
        padding-top: 25%;
    }
}

@media (max-width: 700px){
    svg {
        font-size: 150px;
        padding-top: 45%;
    }
}

@media (max-width: 450px){
    svg {
        font-size: 150px;
        padding-top: 70%;
    }
}

@media (max-width: 325px){
    svg {
        font-size: 150px;
        padding-top: 120%;
    }
}