* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'IBM Plex Mono', monospace;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'IBM Plex Mono', monospace;

}

h1 {
    color: white;
    margin: 30px 0px 30px 0px;
    font-size: 40px;
}

span{
    color:rgb(255, 217, 1);
    text-decoration: underline;
    text-underline-offset: 5px;
    
}


.btn {
    text-align: center;
    margin-bottom: 30px;
    background-color:white;
    width:50vh;
    border-radius:20px 30px 20px 30px;
    padding:1vh 5vh 1vh 3.5vh;
    box-shadow: 0 3px 10px 0 rgb(255, 217, 1);
    /* border: 2px solid rgb(255, 217, 1); */
    text-decoration: none;
}

.btn:hover {
    color: rgb(255, 217, 1);
    border-radius:30px 20px 30px 20px;
    transform: rotate(5deg);
}

.heading {
    color: white;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 20px;
}

.card-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}


.card {
    width: 80%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 3px 10px 0 rgb(255, 217, 1);
    border-radius: 30px;
    color: white;
}

.card:hover {
    cursor: pointer;
}

.card img {
    height: 150px;
    border-radius: 50%;
}

.card div {
    width: 70%;
}

.card div h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card div p {
    line-height: 150%;
    font-size: 15px;
}

footer {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

footer h2 {

    font-weight: 300;
    font-size: 20px;
}

@media (max-width:800px){
    .btn {
        width: 60%;
        text-align: center;
    }

    .title {
        font-size: 30px;
        text-align: center;
        padding: 0px 50px 0px 50px;
    }

    .heading {
        font-size: 20px;
    }

    .card{
        display:flex;
        flex-direction:column;
        margin-bottom: 2rem;
        height: 100%;
        padding: 30px 0px 30px 0px;
        
    }

    .card div {
        width: 80%;
    }

    .card p{
        width:100%;
    }
}

@media (max-width:930px) and (min-width:800px){
    p{
        font-size:0.7rem;
    }
}