// colors

// white and black
$white: #fff;
$black: #000;

// primary-colors
$primaryLight: #6ADABC;
$primaryDark: #24C298;

// accentsColor
$accentsLight: #8C7AE6;
$accentsBold: #2A10A9;

// neutralColors
$neutralsHeading: #333946;
$neutralsText: #777E8B;
$neutralsBorder: #B3B7BB;
$neutralsContainer: #E6EAEC;
$neutralNestedContainers: #D9DDDF;

