* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

html {
  background-color: #f4f4f4;
}

body {
  min-width: 100%;
  margin: 0;
}

header {
  width: 100%;
  margin: 0;
  top: 0px;
  position: sticky;
  padding: 10px 0;
  text-align: center;
  background-color: #ff7315;
}

header h1 {
  margin: 0;
}

main {
  width: 945px;
  margin: 10px auto;
  padding: 0 0 54px 0;
}

nav {
  width: 20%;
  margin: 0;
  padding: 10px 0;
  float: left;
  display: block;
}

nav ul {
  margin: 0;
  padding: 0 10px 0 0;
}

nav li {
  list-style-type: none;
  margin: 0;
  padding: 5px;
}

nav li:hover {
  background-color: #ffa259;
}

a {
  text-decoration: none;
  color: black;
}

.selected {
  background-color: #ffa259;
}

#optionQuantity {
  width: 100%;
  height: 46px;
  margin: 20px 0 0 0;
  padding: 5px;
  font-size: 20px;
  border-radius: 10px 10px 10px 10px;
  border-width: 1px;
  display: none;
}

#converterSpace {
  width: 80%;
  margin: 0;
  padding: 10px 0 54px 0;
  float: right;
}

#converterSpace h2 {
  margin: 0;
}

.converter {
  display: flex;
  margin: 20px 0;
}

.input {
  flex-basis: 70%;
}

input {
  width: 100%;
  height: 46px;
  margin: 0;
  padding: 5px;
  font-size: 28px;
  border-radius: 10px 0 0 10px;
  border-width: 1px;
}

.option {
  flex-basis: 30%;
}

.converter select {
  width: 100%;
  height: 46px;
  margin: 0;
  padding: 5px;
  font-size: 20px;
  border-radius: 0 10px 10px 0;
  border-width: 1px;
}

#formula {
  margin: 0;
  padding: 10px 0;
}

#formula p {
  margin: 10px 0;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  margin: 0;
  padding: 5px 0;
  text-align: center;
  background-color: #ff7315;
}

footer p {
  margin: 4px auto;
  font-size: 14px;
}

.buttonGroup {
  text-align: center;
  width: 100%;
  padding: 20px 0;
}

button {
  cursor: pointer;
  font-size: 20px;
  width: 150px;
  height: 46px;
  margin: 0 5px;
  border-radius: 10px;
  border-color: black;
  border-width: 1px;
  background-color: #ffa259;
}

.buttonCollumn {
  display: flex;
  flex-direction: column;
}

.buttonCollumn button {
  width: 310px;
  margin: 5px auto;
}

#liffLoginButton {
  background-color: #91bd3a;
}

#liffLogoutButton {
  background-color: #fa4252;
}

#code-block {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  white-space: nowrap;
}

#statusMessage {
  position: relative;
  top: 40px;
}

.textLeft {
  text-align: left;
}

.hidden {
  display: none;
}

#liffData {
  display: none;
}

@media (max-width: 963.9px) {
  main {
    width: 98%;
    margin: 10px auto;
  }
}

@media (max-width: 600px) {
  nav {
    display: none;
  }
  #optionQuantity {
    display: block;
  }
  #converterSpace {
    width: 100%;
    float: none;
  }
}
