* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    font-weight: bold;
}

a {
    position: relative;
    display: inline-block;
    padding: 25px 20px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 5px;
    overflow: hidden;
    margin-right: 50px;
}

a:hover {
    background: #03e9f4;
    color: black;
    box-shadow: 0 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);

}

a:nth-child(1) {
    filter: hue-rotate(260deg);
}

a:nth-child(2) {
    filter: hue-rotate(160deg);
}

a span {
    position: absolute;
    display: block;
}

a span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90 deg, transparent, #30e9f4);
    animation: animate1 1s infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }

}

a span:nth-child(2) {
    top: -100;
    right: 0;
    width: 2px;
    height: 100;
    background: linear-gradient(90 deg, transparent, #30e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2 {
    0% {
        top: -100%;
    }
  50%,
  100%{
    top:100%
  }
}

a span:nth-child(3){
    bottom:0%;
    right:0%;
    width:100;
    height: 2px;
    background: linear-gradient(270deg, transparet, #03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;

}

@keyframes animate3 {
    0% {
        right: -100%;
    }
  50%,
  100%{
    right;:100%
  }
}
a span:nth-child(4){
    bottom:-100%;
    left:0;
    width:2px;
    height: 100%;
    background: linear-gradient(360deg, transparet, #03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;

}
@keyframes animate3 {
    0% {
        bottom: -100%;
    }
  50%,
  100%{
   bottom;:100%
  }
}