html {
    
    font-size: 15px;
    vertical-align: baseline;
    scroll-behavior: smooth;
    max-width: 1538px;
   
  }

  body {
    font-family: 'Roboto', sans-serif; 
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    vertical-align: inherit;
    overflow-x: hidden;

  }