*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.logo{
    width: 100px;
    cursor: pointer;
}

.navbar{
    width: 85%;
    
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{
    color: #fcfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in;
}
button:hover{
    background-color: yellowgreen;
}

.content{
    color:#fbfcfd;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
}

.side-bar{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#00545d,#000729);
    position: absolute;
    right: 0;
    top: 0;
}

.menu{
    display: block;
    width: 25px;
    margin: 40px auto 0;
    cursor: pointer;
}

.social-links img,
.useful-links img{
    width: 25px;
    margin: 5px auto;
    cursor: pointer;
}


.social-links{
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.useful-links{
    width: 50px;
    text-align: center;
    position: absolute;
    bottom: 30px;
    transform: translateY(-50%);
}


.bubbles img{
width: 50px;
animation: bubble 7s linear infinite;
}

.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }

    75%{
        
        opacity: 0.75;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}

.bubbles img:nth-child(2){
    animation-delay: 1s;
}

.bubbles img:nth-child(3){
    animation-delay: 0.2s;
    width: 10px;
}

.bubbles img:nth-child(4){
    animation-delay: 3s;
}
.bubbles img:nth-child(5){
    animation-delay: 0.7s;
    width: 40px;
}
.bubbles img:nth-child(6){
    animation-delay: 1.5s;
}
.bubbles img:nth-child(7){
    animation-delay: 2s;
    width: 5px;
}