/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199.98px) {


}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991.98px) {


}

 
/* small mobile :320px. */
@media (min-width: 576px) and (max-width: 767.98px) {

 
}
 
/* Large Mobile :480px. */
@media only screen and  (max-width: 575.98px) {


 
}
