*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    animation: shakebody linear 6s infinite;
}
.sky{
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    position: absolute;
    animation: skyMove linear 100s infinite;
}

.trees{
    height: 100vh;
    width: 100%;
    
    padding:0px;
    margin:0px;
    background-image: url(trees.png);
  
 
    background-size: cover; 
    position: absolute;
    top: -144px;

    animation: bgMove linear 80s infinite;
 
}
.track{
    height: 60vh;
    width: 800vw;
    background-image: url(track.png);
    position: absolute;
    top: 70vh;
    animation: carMove linear 13s infinite;

}

.car{
    height: 100px;
    width: 380px;
    background-image: url(car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 1vw;
    bottom:30vh;
    animation: shake linear 1s infinite;

}


.wheel1 img{
    width: 77px;
    position: relative;
    top: 58px;
    left: 41px;
    animation: wheelRotation linear .16s infinite;
}


.wheel2 img{
    width: 77px;
    position: relative;
    top: -23px;
    left: 262px;
    animation: wheelRotation linear .16s infinite;

}

@keyframes wheelRotation
{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes carMove
{
    100%{
        transform: translateX(-500vw);
    }
}
@keyframes bgMove
{
    100%{
        background-position: -1200px ;
    }
}
@keyframes skyMove
{
    100%{
        background-position: -1200px ;
    }
}

@keyframes shake
{
    0%{
        transform: translateY(-3px);
    }
    50%{
        transform: translateY(3px);
    }
    100%{
        transform: translateY(-3px);
    }
}