Web-Development/Portfolio using HTML/js/jquery.magnific-popup.js
Web-Development/Portfolio using HTML/js/jquery.min.js 
Web-Development/Portfolio using HTML/js/jquery.jquery.slimscroll.js 
Web-Development/Portfolio using HTML/js/jquery.jquery.validate.js
