* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(0, 0, 0);
}
p {
    font-size: 2-px;
    color: rgb(2, 0, 131);
}

header {
    padding: 40px;
    background-color: rgb(17, 124, 143);
}


main {
    background-color: white;
    text-align: center;
}

h2 {
    padding: 20px;
}
