/** global element styling **/

@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff6ec;
  font-family: 'Lato', sans-serif;
  color: #0E1A27;
  font-size: 1rem;
  line-height: 1.4;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.8rem;
}

li {
  list-style: none;
}

a {
  color: #0E1A27;
}

a:hover {
  color: darkorange;
}

/** global classes styling **/

.main-wrapper {
  max-width: 1800px;
  margin: 0 auto;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  background: transparent;
  border-radius: 2px;
  cursor: pointer;
}

.grid {
  display: flex;
}

header {
  background-color: rgba(255, 246, 236, 0.9);
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 600px) {
  header, .grid {
    flex-wrap: wrap;
  }
}

.logo {
  align-items: center;
  display: flex;
  width: 60vw;
}
.logo svg { margin-right: 1rem; }

@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

.logo > img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}

nav {
  font-weight: 400;
}

@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin: 100px auto;
}

#hero > h1 {
  margin-bottom: 20px;
  word-wrap: break-word;
}

#hero input[type='email'] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}

#hero input[type='submit'] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
}

#hero input[type='submit']:hover {
  background-color: darkorange;
  transition: background-color 1s;
}

@media (max-width: 650px) {
  #hero {
    margin-top: 220px;
  }
}

#features {
  margin-top: 30px;
}

#features h2 {
  text-align: center;
}

#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
}

#features .icon svg {
  stroke: darkorange;
}

@media (max-width: 550px) {
  #features .icon {
    margin-top: 50px;
    height: auto;
    width: 100%;
  }
}

#features .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

@media (max-width: 550px) {
  #features .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}

@media (max-width: 650px) {
  #features {
    margin-top: 0;
  }
}

#how-it-works {
  margin-top: 50px;
  text-align: center;
}

#how-it-works h2 {
  text-align: center;
}

#how-it-works > iframe {
  margin-top: 20px;
  max-width: 560px;
  width: 100%;
}

#pricing {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
#pricing h2 {
  flex: 1 1 100%;
  margin-bottom: 20px;
  text-align: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3 - 20px);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

.product > .level {
  background-color: #ffe5c5;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.product > h2 {
  margin-top: 15px;
}

.product > ol {
  margin: 15px 0;
}

.product > ol > li {
  padding: 5px 0;
}

.product > button {
  border: 0;
  margin: 15px 0;
  background-color: #f1c40f;
  font-weight: 400;
  padding: 15px 25px;
  height: auto;
}

.product > button:hover {
  background-color: darkorange;
  transition: background-color 1s;
}

@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }
  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

footer {
  margin-top: 30px;
  background-color: #ffe5c5;
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}
