*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto','sans-serif';
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(0,0,0,0.7),rgba(0,0,0,0.7)),url(./971.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 100px;
}
p{
    color: #fff;
    font-size: 20px;
    line-height: 15px;
    padding-left: 10px;
}
button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px;
    background:#fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
.card{
    width: 170px;
    height: 190px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url(./pic-1.jpg);
}
.card2{
    background-image: url(./pic-2.jpg);
}
.card3{
    background-image: url(./pic-3.jpg);
}
.card4{
    background-image: url(./pic-4.jpg);
}
.card5{
    background-image: url(./pic-5.jpg);
}
.card6{
    background-image: url(./pic-6.jpg);
}
.card:hover{
    transform: translateY(-10px);
}
h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
}
.card p{
    text-shadow: 0 0 15px #000;
    font-size: 8px;
}

.col .card1 button{
    width: 100px;
    color: #000;
    font-size: 12px;
    padding: 50px;
    background:transparent;
    border: 0;
    border-radius: 10px;
    outline: none;
    margin-top: 15px;
}
.col .card2 button{
    width: 100px;
    color: #000;
    font-size: 12px;
    padding: 50px;
    background:transparent;
    border: 0;
    border-radius: 10px;
    outline: none;
    margin-top: 15px;
}
.col .card3 button{
    width: 100px;
    color: #000;
    font-size: 12px;
    padding: 50px;
    background:transparent;
    border: 0;
    border-radius: 10px;
    outline: none;
    margin-top: 15px;
}
.col .card4 button{
    width: 100px;
    color: #000;
    font-size: 12px;
    padding: 50px;
    background:transparent;
    border: 0;
    border-radius: 10px;
    outline: none;
    margin-top: 15px;
}
.col .card5 button{
    width: 100px;
    color: #000;
    font-size: 12px;
    padding: 50px;
    background:transparent;
    border: 0;
    border-radius: 10px;
    outline: none;
    margin-top: 15px;
}
.col .card6 button{
    width: 100px;
    color: #000;
    font-size: 12px;
    padding: 50px;
    background:transparent;
    border: 0;
    border-radius: 10px;
    outline: none;
    margin-top: 15px;
}
