*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
		font-family: 'Poppins', sans-serif;
        }
        section{
            position: relative;
            display: flex;
            justify-content:center ;
            align-items: center;
            min-height: 100vh;
            background: #1d8491;
            overflow: hidden;
        }
        section::before{
            content: '';
            position: absolute;
            width: 400px;
            height: 400px;
            background: linear-gradient(#00a2ff, #5eff00);
            border-radius: 50%;
            transform: translate(200px, -120px);
            
        }
        section::after{
            content: '';
            position: absolute;
            width: 350px;
            height: 350px;
            background: linear-gradient(#ff00dd, #ff2600);
            border-radius: 50%;
            transform: translate(-200px, 150px);
        }
        .box{
            position: relative;
            z-index: 1000;
        }
        .container{
            position: relative;
            width: 400px;
            min-height: 400px;
            background: rgba(255, 255, 255, 0.1);
            box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-right: 1px solid rgba(255, 255, 255, 0.2);
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(25px);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #dycalendar{
            width: 100%;
            padding: 20px;
        }
        #dycalendar table{
            width: 100%;
            margin-top: 40px;
            border-spacing: 5px;   
        }
        #dycalendar table tr:nth-child(1) td{
            background: #fff;
            color: #111;
        }
        #dycalendar table td{
            color: #fff;
            padding: 10px; 
            border-radius: 4px;
            font-weight: 600;
            border-radius: 4px;
        }
        #dycalendar table td:hover{
            background: rgb(231, 228, 14);
            color:#111  !important;
        }
        #dycalendar table td{
            color: #fff;
            padding: 10px;
            cursor: pointer;
        }
        .dycalendar-month-container .dycalendar-today-date,
        .dycalendar-month-container .dycalendar-target-date{
            color: #111 !important;
            background: #fff;
        }
         .dycalendar-month-container .dycalendar-header
         .dycalendar-prev-next-btn.prev-btn{
             background: #fff;
             color: #111;
             width: 44px;
             height: 38px;
             left: 4px;
             border-radius: 4px;
             display: flex;
             justify-content: center;
             align-items: center;
             font-size: 24px;
         }
         .dycalendar-month-container .dycalendar-header
         .dycalendar-prev-next-btn.next-btn
         {
            background: #fff;
             color: #111;
             width: 44px;
             height: 38px;
             right: 4px;
             border-radius: 4px;
             display: flex;
             justify-content: center;
             align-items: center;
             font-size: 24px;  
         }
         .dycalendar-month-container .dycalendar-span-month-year{
             color: #fff;
             font-size: 1.5em;
             font-weight: 500;
         }