*{
    /* font-family: sans-serif; */
}

.navbar-box{
    height : 30px ; 
    width : 100% ; 
    
}

.navbar-box li{
    list-style: none;
    font-size: 2.5rem;
    display: inline-block;
    margin : 10 30 ;
   
    color : rgb(177, 83, 177);
    font-family: 'Baloo Paaji 2', cursive;
}

.navbar-box li:hover{

    cursor : pointer;
    border-bottom: rgb(223, 132, 223) 4px solid ;
    transition: 0.2s;
    animation-fill-mode: backwards;
    
}

.content-box{
    width : 60%;
    height : fit-content;
    margin-top : 300px ;
    margin-left : 120px ; 
    color : whitesmoke;
    background-color: rgb(134, 37, 245);
    border :rgb(96, 0, 206) 3px solid ;
    border-radius: 34px;
}
.content-box h1
{
    margin : 20px;
}
.content-box p{
    margin : 40px;
    font-size: 1.5em;
}
p{
    font-family: 'Balthazar', serif;
}

.skill-box{
  
    width : 50% ;
    align-content: center;
    margin : 300px 120px;
  
   

}


.skill-box-title{
    width : 35%;
    color : rgb(134, 37, 245);
   font-size: 3rem;
    border :rgb(96, 0, 206) 3px solid ;
    padding : 0px 50px ;
    display: block;
    margin: auto  212px;
    border-radius: 20px;
    text-align: center;
    /* background-color: darksalmon; */
    font-family: 'Baloo Paaji 2', cursive;
    background-color: aqua;

}


.skill-box-list ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item{
    text-align: center;
    font-family: 'Balthazar', serif;
}

.skill-box-list li{
    list-style: none;
    width : 20%;
    margin : 20px ;
    padding : 10px;
    font-size: 2em;
    color :white ;
    border :rgb(96, 0, 206) 2px solid ;
    border-radius: 12px;
    background-color : rgb(134, 37, 245);

}
.circ-bg-1 {
   position: fixed ;
    background: linear-gradient(180deg, rgb(177, 83, 177) 0%, rgba(204, 53, 56, 0) 100%);
        border-radius: 50%;
        width: 573px;
    height: 542px;
    left: 900px;
    top: 96px;
        margin-top: 116px;
        z-index: -1;
      }

      .circ-bg-2{
        position: fixed ;
         background: linear-gradient(180deg, rgb(177, 83, 177) 0%, rgba(204, 53, 56, 0) 100%);
             border-radius: 50%;
             width: 300px;
             height: 300px;
             left: 230px;
             top: 50px;
             margin-top: 50px;
             z-index: -1;
           }

           .footer{
               width : 100% ;
               height : 300px ; 
               background-color:rgb(134, 37, 245) ;
               bottom: 0px;
               

           }

           .footer-left li{
               list-style: none;
               font-size:  large;
               color : white ; 
               margin : 10px ; 
               padding : 20px;
               width : 50px;
             
           }
           .footer-left li:hover{
               cursor: pointer;
           }
